<launch>
    <!-- localization -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_init2odom"
      args="0 0 0 0 0 0 1 odom camera_init" /> -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imulink2baselink"
      args="0 0 0 0 0 0 1 base_link imu_link" /> -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imulink2baselink"
      args="0.290000 0.000000 0.100000 -0.000821 0.164250 0.004932 0.986406 base_link imu_link" /> -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imulink2baselink"
      args="0.16 0.000000 0.060000 0 0 0 1 base_link imu_link" /> -->

	<node pkg="open3d_loc" type="global_localization_node"  name="global_localization_node" output="screen">

		<rosparam command="load" file="$(find open3d_loc)/config/loc_param_go2.yaml" />
		<param name="path_map" type="string" value="$(find open3d_loc)/map/aft_pgo_cloud.pcd" />
		<param name="pcd_queue_maxsize" type="int" value="10" />
		<param name="voxelsize_coarse" type="double" value="0.15" />
		<param name="voxelsize_fine" type="double" value="0.1" />

		<!-- 定位配准阈值,超过这个值才更新odom2map -->
		<param name="threshold_fitness" type="double" value="0.5" />

		<!-- 初始化配准阈值,超过这个才能初始化成功 -->
		<param name="threshold_fitness_init" type="double" value="0.5" />
		<param name="loc_frequence" type="double" value="0.5" />
		<param name="save_scan" type="bool" value="0"/>
		<param name="hidden_removal" type="bool" value="0"/>
		<param name="maxpoints_source" type="int" value="80000" />
		<param name="maxpoints_target" type="int" value="400000" />
		
		<!-- for odom2map -->
		<param name="filter_odom2map" type="bool" value="0"/>
		<param name="kalman_processVar2" type="double" value="0.001" />
		<param name="kalman_estimatedMeasVar2" type="double" value="0.02" />

		<!-- localization confidence threshold-->
		<param name="confidence_loc_th" type="double" value="0.7" />
		
		<!-- distance th for update current submap(target, history) -->
		<param name="dis_updatemap" type="double" value="3.5" />
	</node>

	<param name="use_sim_time" value="false" />


</launch>
